:root {
  --primary-bcg-color: hsl(217, 28%, 15%);
  --second-bcg-color: hsl(218, 28%, 13%);
  --third-bcg-color: hsl(216, 53%, 9%);
  --fourth-bcg-color: hsl(219, 30%, 18%);

  --error-color: hsl(0, 100%, 63%);

  --neutral-color: hsl(0, 0%, 100%);

  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--neutral-color);
  background-color: var(--second-bcg-color);
}

body,
body * {
  box-sizing: border-box;
}

.section_container {
  padding: 1rem 3rem;
}

.third-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.txt-center {
  text-align: center;
}

a {
  cursor: pointer;
}
