.features {
  background: var(--second-bcg-color);
  max-width: 90rem;

  display: grid;

  margin: 0 auto;
  grid-gap: 10rem;
  justify-items: center;

  @media (min-width: 700px) {
    grid-template-columns: 50% 50%;
    row-gap: 7rem;
    column-gap: 10rem;
    justify-content: center;
    padding: 0 9rem;
  }

  .feature {
    text-align: center;
    max-width: 380px;

    img {
      width: 7.5rem;
      height: 6.5rem;
      margin-bottom: 4rem;
    }

    p {
      line-height: 1.5;
    }

    .third-title {
      @media (min-width: 900px) {
        font-size: 2.6rem;
      }
    }
  }
}
