.footer {
  background: var(--third-bcg-color);
  padding: 2rem;
  padding-bottom: 4rem;
  margin-top: 4rem;

  @media (min-width: 1200px) {
    padding: 2rem 11rem;
  }

  .logo-bigger {
    width: 18rem;
    margin-bottom: 4rem;
  }

  .footer-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      justify-content: center;
    }
  }

  .number-email-container {
    display: inline;
  }

  .line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-wrap: wrap;

    p {
      flex: 1;
    }

    ion-icon {
      font-size: 2rem;
      margin-right: 2rem;
    }

    .first-ul {
      margin-top: 7rem;

      @media (min-width: 900px) {
        margin-top: 0;
      }
    }

    ul {
      li {
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 3rem;
      }
    }
  }

  .contact-details {
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-basis: 50%;
      flex-direction: row;
    }

    .location {
      flex-basis: 65%;
      max-width: 34.5rem;
      margin-right: 2rem;
    }

    .number-email-container {
      display: flex;
      flex-direction: column;
      min-width: 17rem;

      @media (min-width: 900px) {
        margin-left: auto;
      }
    }
  }

  .list-container {
    flex-basis: 40%;

    @media (min-width: 900px) {
      max-width: 28.5rem;
      display: flex;
      justify-content: space-around;
      margin-left: 12rem;
    }
  }

  .list-social-items {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex: 1;

    @media (min-width: 900px) {
      margin-top: 0;
    }

    li {
      margin-right: 0.4rem;

      a {
        display: block;
        border: 1px solid #fff;
        padding: 0.6rem;
        border-radius: 50%;

        ion-icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}
