.page-header {
  width: 100%;
  background-color: var(--primary-bcg-color);

  font-family: "Raleway", sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;

  @media (min-width: 700px) {
    padding: 4rem;
  }

  @media (min-width: 1440px) {
    padding: 7rem 8rem;
  }

  .logo {
    width: 7.5rem;
    height: 3rem;
    margin-right: 2rem;

    @media (min-width: 700px) {
      width: 12rem;
      height: 6rem;
    }

    @media (min-width: 1440px) {
      width: 18rem;
    }
  }

  .menu {
    flex: 1;
    max-width: 20rem;

    @media (min-width: 900px) {
      max-width: 30rem;
    }

    .menu-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li a {
        color: inherit;

        @media (min-width: 900px) {
          font-size: 1.6rem;
        }

        @media (min-width: 1440px) {
          font-size: 1.8rem;
        }

        &:hover {
          text-decoration: underline;
          font-weight: 700;
        }
      }
    }
  }
}
